.form-group {
    margin-top: 0px !important;
    margin-bottom: 3px !important;
}
.form-group input,
.form-group select {
    height: 38px !important;
    border-radius: 3px;
}

table {
    font-size: 13px;
}

table thead th {
    font-weight: bold !important;
    font-size: 12px;
    /* border-bottom: 1px solid #6f42c1 !important; */
}
table tr td,
table tr th {
    padding: 8px !important;
}

.modal-div {
    max-height: 74vh !important;
    overflow-y: auto;
}

.tabs-menu {
    overflow-x: auto;
    display: flex;
}

.tabs-menu input[type="radio"] {
    display: none;
}

.tabs-menu label {
    font-weight: bold;
    transition: background 0.4s ease-in-out, height 0.2s linear;
    cursor: pointer;
    color: black;
    min-width: 150px;
    width: fit-content;
    height: 3em;
    background: #dbdbdb;
    text-align: center;
    line-height: 3em;
    padding: 0 8px;
    border-right: solid 2px #ffffff;
    white-space: nowrap;
}

.tabs-menu label:last-of-type {
    border-bottom: none;
}

.tabs-menu label:hover {
    background: #363636;
    color: rgb(255, 255, 255);
}

.tabs-menu label.active-tab {
    background: #305e30;
    color: rgb(255, 255, 255);
}

.tab-content-wrapper {
    background: #fcfcfc;
    border-top: rgb(238, 238, 238) 5px solid;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
}

table.dataTable.no-footer {
    border: none;
    border-bottom: #f2edff 1px solid;
}

table.dataTable thead th {
    border: none;
    border-bottom: #555 1px solid;
    text-transform: uppercase !important;
    font-weight: bold !important;
    color: #999 !important;
}

li.paginate_button.page-item.active {
    background-color: #ccc !important;
    border: none !important;
}

a.page-link {
    background: none !important;
    color: black !important;
    border: none !important;
    outline: none !important;
}

a.page-link:hover {
    background-color: #ccc !important;
    border: none !important;
    outline: none !important;
}

li.paginate_button.page-item {
    background-color: #eee !important;
    padding: 0px !important;
    border: none !important;
    outline: none !important;
}

#table_paginate > ul > li:hover {
    background-color: #ccc !important;
}

th.sorting_asc {
    text-transform: capitalize;
}

th.sorting_desc {
    text-transform: capitalize;
}
th.sorting_disabled {
    text-transform: capitalize;
}

.dt-buttons {
    float: left;
}
.dt-buttons .button {
    bottom: 0;
}

.dataTables_filter label {
    display: block !important;
    flex-direction: column !important;
}

th {
    border-bottom: 1px solid #ebe9e9 !important;
}

.dataTables_length {
    display: none !important;
}

.dt-button-background {
    display: none !important;
}

.dt-button-collection {
    max-height: 75%;
    overflow-y: scroll !important;
}

.dialog-body {
    max-height: 60vh !important;
    overflow-y: auto !important;
}

thead th{
    text-wrap: nowrap;
}


table .btn{
    text-wrap: nowrap;
}

.buttons-excel{
    background: green;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100px;
    font-weight: bold;
}

.dataTables_wrapper {
    padding: 0px 10px;
}



div.iq-sidebar {
    background-color: #51B495;
    padding-left: 10px;
    color: white;
    
  }
  
  
  .iq-sidebar-menu li a{
    color:white !important  ;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .iq-sidebar-menu li.active a{
    background-color: #308D70;
    color:white !important;
    border-radius: 5px;
    font-weight: bold;
  }
  
  div.iq-sidebar ul li {
    background-color: #51B495;
    padding-left: 10px;
    color: white;
  }
  
  div.content-page {
    background-color: white;
  }
  
  div.iq-top-navbar {
    background-color: white;
  }
  
  span.active {
    color:#308D70
  }
  
  thead tr th {
    background-color: #e3f1f4;
    border: none;
    border-radius: 4px;
    overflow: hidden;
  }

  nav.navbar.navbar-expand-lg.navbar {
    border-radius: 0px !important;
    background-color: white !important;
  }

